.container {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: #303030;
    height: 100%;
    padding: 15px 0;
}

h1, h2, h3 {
    font-weight: bold;
    color: #fff;
}

a {
	text-decoration: none !important;
}

/* Header */

.header h1 {
    font-size: 2.5rem;
}

/* Main */
.main-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
}

.main-section h2 {
    font-size: 1.5rem;
    margin-top: 15px;
}

.main-section ul {
    display: flex;
    gap: 0 10px;
}

.main-section ul li a {
    display: block;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 20px;
    color: #fff;
    background-color: #0047ab;

}

.main-section ul li a:hover {
    transform: scale(1.1,1.1);
    box-shadow: 0 0 5px #fff;
}

/* Movie */
.movie-info {
    padding: 25px;
    background-color: #424242;
    box-shadow: 0 0 5px #8f8f8f;
    width: 40%;
    border-radius: 15px;
}

.movie-info h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #728F7A;
}

.movie-info p {
    color: #fff;
    line-height: 1.3;
}





